<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<strong>Options:</strong>

<table>
  <% @question.quiz_options.each do |opt| %>
    <tr>
      <td><%= opt.content %></td>
      <td><%= Personality.find(opt.personality.id).name %></td>
      <td>
        <%= link_to 'show', quiz_option_path(opt) %> | 
        <%= link_to 'edit', edit_quiz_option_path(opt) %> | 
        <%= link_to 'delete', opt, method: :delete, data: {confirm: 'are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'add new option', new_question_quiz_option_path(@question), :class => "success button" %>
<hr>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', quiz_path(@question.quiz.id) %>
