<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Personalities</strong>
  <table>
    <tr>
    <th>name</th>
    <th>description</th>
    <th></th>
    </tr>
  <% @quiz.personalities.each do |personality| %>
  <tr>
    <td><%= personality.name %></td>
    <td><%= personality.description %></td>
    <td>
      <%= link_to 'show', personality_path(personality) %> | 
      <%= link_to 'edit', edit_personality_path(personality) %> | 
      <%= link_to 'delete', personality, method: :delete, data: {confirm: 'are you sure?'} %>
    </td>
  </tr>
  <% end %>
  </table>
  <br>
  <%= link_to 'add personality', new_quiz_personality_path(@quiz), :class => "success button" %>
  
<hr>

<strong>Questions</strong>


  <table>
      <% @quiz.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.quiz_options.count %> options</td>
        <td>
          <%= link_to 'show', question_path(question)%> | 
          <%= link_to 'edit', edit_question_path(question)%> | 
          <%= link_to 'delete', question, method: :delete, data: {confirm: 'are you sure?'} %>
        </td>
      </tr>
      <% end %>
  </table>
  <br>
  
  <%= link_to 'add question', new_quiz_question_path(@quiz), :class => "success button" %>

<hr>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
