<p id="notice"><%= notice %></p>

<h1>Listing Quiz Options</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_options.each do |quiz_option| %>
      <tr>
        <td><%= quiz_option.content %></td>
        <td><%= link_to 'Show', quiz_option %></td>
        <td><%= link_to 'Edit', edit_quiz_option_path(quiz_option) %></td>
        <td><%= link_to 'Destroy', quiz_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz option', new_quiz_option_path %>
