<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personality.name %>
</p>
<%= image_tag @personality.image_med_url %>
<p>
  <strong>Description:</strong>
  <%= @personality.description %>
</p>

<%= link_to 'Edit', edit_personality_path(@personality) %> |
<%= link_to 'Back', quiz_path(@personality.quiz.id) %>
