<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personality.name %>
</p>
<% if @personality.image_file_name? %>
  <%= image_tag @personality.image_med_url %>
<% end %>
<p>
  <strong>Description:</strong>
  <%= @personality.description %>
</p>

<%= link_to 'Edit', edit_personality_path(@personality) %> |
<%= link_to 'Back', quiz_path(@personality.quiz.id) %>
