<h2><%= @quiz.name %></h2>
<hr>
<div class="quiz-form">
       <table>
  <% @questions.each do |question| %>
       <tr>
           <th class="quiz-question">
             <%= question.content %>
           </th>
       </tr>
    <tr>
   <% question.quiz_options.each do |opt| %>
     
       <td>
         <%= radio_button_tag('question_'+question.id.to_s, opt.points.to_s ) %> <%= opt.content%>
       </td>
     <td></td>
   <% end %>
   </tr>
  <% end %>
 </table>
<button class="submit-quiz button">Submit form</button>
</div>
<div class="quiz-results">
    <h2 class="your-score"></h2>
    <img src="" alt="" class="personality-image" />
    <%= render 'shared/reference_table', quiz: @quiz %>
    <%= form_for (UserResult.new ) do |f| %>
      <%= f.hidden_field :points, value: "" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :quiz_id, value: @quiz.id %>
      <%= button_tag 'save results', type: 'submit', class: 'button' %>
    <% end %>
</div>