<h2><%= @quiz.name %></h2>
<span class="number-of-questions"><%= @quiz.questions.count %></span>
<div class="quiz-form">
  <% @questions.each do |question| %>
   <strong><%= question.content %></strong>
   <br>
   <% question.quiz_options.each do |opt| %>
     <%= radio_button_tag('question_'+question.id.to_s, opt.personality.id ) %>
     <%= label_tag('question_'+question.id.to_s+'_'+opt.personality.id.to_s, opt.content) %>
     <br>
   <% end %>
   <hr>
  <% end %>
<button class="submit-quiz button">Submit form</button>
</div>
<div class="quiz-results">
    <h2 class="your-personality"></h2>
    <p class="results-description"></p>
    <%= link_to root_path do %>
      <button class="button">Take another quiz</button>
    <% end %>
    <%= link_to take_quiz_path(@quiz.id) do %>
      <button class="button">Retake this quiz</button>
    <% end %>
</div>