<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Personality Quizzes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <% if user_signed_in? %>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete  %>
      <% else %>
        <%= link_to 'sign in', new_user_session_path %> | 
        <%= link_to 'sign up', new_user_registration_path %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="large-8 large-offset-2 centered columns">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
